h2 {
    margin-bottom: 4px;
    margin-right: 24px;
    font-size: 3vh;
}

p {
    margin-right: 24px;
    font-size: 2.2vmin;
}

h4 {
    margin: 8px 24px 8px 0px;
    font-size: 1.8vmin;
}

h1 {
    margin: 5px 0px 5px 0px;
    font-size: 5.9vmin;
}

li {
    margin: 8px 24px 8px 8px;
    font-size: 2.2vmin;
}

h3 {
    font-size: 2.3vmin;
}