@import "./text";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

$blue: #232B99;
$yellow: #E6C137;
$lightblue: lighten($blue, 30%);

@media screen and (max-width: 780px) {
    header {
        line-height: 0.8;
        margin-bottom: 4px;
    }

    #txt {
        line-height: 1.8;
    }
    
    .date {
        min-width: 10%;
        color: $lightblue;
        pointer-events: none;
    }

    .date2 {
        min-width: 10%;
        color: $lightblue;
    }

    .info {
        min-width: 90%;
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: gray 1px 1px 3px;
    background-color: whitesmoke;
    box-sizing: border-box;
    color: $blue;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    background-color: $blue;
    box-shadow: 0px 5px 20px $blue;  
}

#txt {
    color: $blue;
    min-height: 100%;
    min-width: 70%;
    flex: 2;
    padding: 40px;
    line-height: 1.6;
    text-shadow: none;
    animation: text-shadow 2.5s ease-in forwards;
}


@keyframes text-shadow {
    0%{text-shadow: none;}
    33%{text-shadow: $yellow 0px 0px 20px;}
    66%{text-shadow: none;}
    75%{color:$blue;}
    100%{color:$yellow; text-shadow: black 2px 2px 8px;}
}

#img {
    display: flex;
    min-height: 100%;
    min-width: 30%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

img {
    min-width: 30%;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    box-shadow: 2px 2px 8px black;
&:hover {
    border-radius: 5%;
}}

main { 
    margin: 8px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 100%;
}

section {
    display: flex;
    transition: all 0.4s ease-in; 
    margin: auto;
    margin-bottom: 4px;
    animation: sto 2s ease-in forwards;
    background: rgb(200,187,111);
    background: radial-gradient(circle, rgba(200,187,111,0) 0%, rgba(230,193,55,1) 90%); 
&:hover {
    border-radius: 25px;
    min-width: 95%;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 4px;
    font-size: large;
    box-shadow: 5px 5px 15px $blue;
}}

section p {
    color: $lightblue;
}

@keyframes sto {
    0% {width:100%;}
    50% {width:60%;}
    100% {width:90%;}
}

.date {
    min-width: 30%;
    margin: 16px 4px 0px 8px;
    animation: font 2s ease-in 1s forwards;
    opacity: 0;
}

@keyframes font {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.date2 {
    min-width: 30%;
    margin: 16px 0px 0px 8px;
    animation: font 2s ease-in 1s forwards;
    opacity: 0;
}

@keyframes font {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.info {
    min-width: 70%;
    margin: 8px;
    animation: font 2s ease-in 1s forwards;
    opacity: 0;
}

@keyframes font {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.hover {
    position: absolute;
    width: 100%;
    min-height: 36px;
    box-shadow: 5px 5px 15px rgba(200, 187, 111, 0.425);
    margin: 0px;
    animation: ime 2s ease-in; 
    background: rgb(195,179,34);
    background: linear-gradient(90deg, rgba(195,179,34,0) 0%, rgba(230,193,55,0.8270658605238971) 70%);
}

@keyframes ime {
    0% {width: 1%;}
    100% {width: 100%;}
}

.ani {
    animation: roto 2s ease-in forwards;
    animation-delay: 0.2s;
    font-size: 1.4rem;
    margin-bottom: 10px;
    opacity: 0;
}

@keyframes roto {
    0% {transform: rotateX(0deg); margin-left: 20%;}
    33% {transform: rotateX(360deg); opacity: 0.5;}
    66% {transform: rotateX(0deg); opacity: 0.8;}
    100% {transform: rotateX(360deg); opacity: 1;}
}